<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{ 'LOGIN.TITLE' | translate }}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div style="position : absolute; left : 50%; width : 400px; margin-left : -200px">

  <form style="position : relative; margin-bottom : 10px"[formGroup]="loginForm" (submit)="loginUser()" novalidate>
    <ion-item class="centered-items">
      <ion-label stacked>{{ 'LOGIN.EMAIL.TITLE' | translate }}</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder={{emailPlaceholder}}
        [class.invalid]="!loginForm.controls.email.valid &&
          loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
      loginForm.controls.email.dirty">
      <p>{{ 'LOGIN.EMAIL.VALID' | translate }}</p>
    </ion-item>

    <ion-item class="centered-items">
      <ion-label stacked>{{ 'LOGIN.PASSWORD.TITLE' | translate }}</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder={{passwordPlaceholder}}
        [class.invalid]="!loginForm.controls.password.valid &&
          loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
      loginForm.controls.password.dirty">
      <p>{{ 'LOGIN.PASSWORD.VALID' | translate }}</p>
    </ion-item>

    <button class="centered-items" ion-button block type="submit">
      {{ 'LOGIN.TITLE' | translate }}
    </button>

  </form>

  <button ion-button block clear class="centered-items" style="margin-top : 0" (click)="goToResetPassword()">
    {{ 'LOGIN.PASSWORD_FORGOT' | translate }}
  </button>

  <button class="centered-items" style="background-color : #afabab; margin : 30px 0" ion-button block (click)="createAccount()">
    {{ 'LOGIN.NEW_ACCOUNT' | translate }}
  </button>

  </div>

</ion-content>
